<header>
    <nav class="navbar">
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li><a href="https://thuclfc.gitlab.io/xebushaiphong/build/home.html" title="Tìm đường">Tìm đường</a></li>
                <li><a href="https://thuclfc.gitlab.io/xebushaiphong/build/luong-tuyen.html" title="Luồng tuyến">Luồng tuyến</a></li>
                <li><a href="https://thuclfc.gitlab.io/xebushaiphong/build/tin-tuc.html" title="Tin tức">Tin tức</a></li>
                <li><a href="" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="https://thuclfc.gitlab.io/xebushaiphong/build/lien-he.html" title="Liên hệ">Liên hệ</a></li>
            </ul>
        </div>
    </nav>
</header>