<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.form-direct input').on('change keyup paste click', function () {
            let check_value = $(this).val();
            if (check_value.length >= 0) {
                $('.form-direct .suggest').fadeIn();
            } else {
                $('.form-direct .suggest').fadeOut();
            }
        });


        $('.form-direct input').on('click',function () {
            $('.form-direct input').attr('id', '');
            $(this).attr('id', 'focus');
        });
        $('.suggest .item').on('click',function () {
            var data_text = $(this).find('p').text();
            document.getElementById("focus").value = data_text;
        });

        $('.form-direct input').on('change load',function () {
            if($('.input-start').val().length > 0 && $('.input-end').val().length > 0){
                $('.form-direct .btn_submit').addClass('active');
            }else{
                $('.form-direct .btn_submit').removeClass('active');
                $('.result-direct').removeClass('show');
            }
            $('.form-direct .btn_submit.active').on('click',function () {
                $('.result-direct').addClass('show');
            });
        });


        $(document).mouseup(function (e) {
            var form_group = $('wrapper');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.form-direct .suggest').fadeOut();
            }
        });

        $('.result-direct .item').on('click',function () {
            $('.result-direct .item').removeClass('active');
           $(this).addClass('active');
        });

        //show menu
        $('.navbar-toggler').on('click',function () {
            $(this).toggleClass('active');
            $('.navbar-collapse').toggleClass('show');
        });
        $('.navbar-collapse .close').on('click',function () {
            $('.navbar-collapse').removeClass('show');
        });

        $('.btn_close_colleft').on('click',function () {
            $(this).toggleClass('active');
            $('.col-left').toggleClass('active');
        });

        // active navbar of page current
        var urlcurrent = window.location.href;
        $(".navbar-nav li a[href$='"+urlcurrent+"'],.nav-category li a[href$='"+urlcurrent+"']").addClass('active');
    });
</script>
</body>
</html>