<main>
    <div class="contact">
        <div class="header">
            <h1 class="title">Liên hệ</h1>
            <p>Mọi thắc mắc về dịch vụ xin Quý khách hàng vui lòng liên hệ theo thông tin liên hệ bên dưới để được tư vấn & hỗ trợ</p>
        </div>
        <div class="flex">
            <div class="contact__info">
                <h4>Công ty TNHH vận tải Thịnh Hưng</h4>
                <ul class="info">
                    <li>
                        <div class="icon flex-center"><img src="./assets/img/house.png" alt=""></div>
                        <p>Số 91 Quán Trữ, P. Lãm Hà, Quận Kiến An, TP Hải Phòng</p>
                    </li>
                    <li>
                        <div class="icon flex-center"><img src="./assets/img/phone.png" alt=""></div>
                        <p><a href="tel:0313919191">0313.91.91.91</a></p>
                    </li>
                    <li>
                        <div class="icon flex-center"><img src="./assets/img/mail.png" alt=""></div>
                        <p><a href="mailto:vantaithinhhung@gmail.com">vantaithinhhung@gmail.com</a></p>
                    </li>
                    <li>
                        <div class="icon flex-center"><img src="./assets/img/www.png" alt=""></div>
                        <p><a href="vantaithinhhung.com">vantaithinhhung.com</a></p>
                    </li>
                </ul>
                <div class="social flex">
                    <a href="" title="" class="facebook">facebook</a>
                    <a href="" title="" class="twitter">twitter</a>
                </div>
            </div>
            <div class="contact__form">
                <form action="" method="">
                    <div class="form-row">
                        <div class="form-group">
                            <label>họ tên <sup>*</sup></label>
                            <input type="text" name="" required>
                        </div>
                        <div class="form-group">
                            <label>Email <sup>*</sup></label>
                            <input type="email" name="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>điện thoại <sup>*</sup></label>
                            <input type="text" name="" required>
                        </div>
                        <div class="form-group">
                            <label>địa chỉ <sup>*</sup></label>
                            <input type="text" name="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>nội dung <sup>*</sup></label>
                        <textarea></textarea>
                    </div>
                    <div class="box-btn flex">
                        <button type="reset" class="btn_reset flex-center">Làm lại</button>
                        <button type="submit" class="btn_submit flex-center">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>