<main>
    <div class="pagedetail">
        <h1 class="post-title">Dự kiến điều chỉnh tạm thời phương án vận hành đối với 118 tuyến buýt trợ giá trong đợt cao điểm phòng chống dịch Covid-19</h1>
        <p class="des">Căn cứ nhu cầu đi lại của hành khách trong thời gian qua, để đảm bảo công tác phòng chống dịch Covid-19 trong hoạt động vận tải hành khách công cộng bằng xe buýt được an toàn, phục vụ tốt nhu cầu đi lại của hành khách.</p>
        <time>04/07/2021 - 21:41</time>
        <article>
            <img src="./assets/img/thumb4.jpg" alt="">
            <p>Dự kiến điều chỉnh tạm thời phương án vận hành đối với 118 tuyến buýt trợ giá trong đợt cao điểm phòng chống dịch Covid-19</p>

            <p>- Căn cứ vào các văn bản chỉ đạo của Chính phủ, Thủ tướng Chính phủ</p>

            <p>- Căn cứ vào các văn bản của chủ tịch UBND thành phố Hà Nội</p>

            <p>- Thực hiện chỉ đạo của Sở Giao thông vận tải Hà Nội về việc nghiên cứu điều chỉnh chỉ tiêu dịch vụ các tuyến xe buýt có trợ giá trên địa bàn thành phố.</p>

            <p>- Căn cứ nhu cầu đi lại của hành khách trong thời gian qua, để đảm bảo công tác phòng chống dịch Covid-19 trong hoạt động vận tải hành khách công cộng bằng xe buýt được an toàn, phục vụ tốt nhu cầu đi lại của hành khách.</p>

            <p>Dự kiến điều chỉnh tạm thời số xe vận doanh, lượt xe ngày thường, chủ nhật đối với các tuyến xe buýt trợ giá do ảnh hưởng của dịch Covid-19 như sau:</p>

           <p>
               Số xe kế hoạch: giữ nguyên <br>
               Số xe vận doanh: Ngày thường giảm 15,5%, ngày chủ nhật giảm 9,7% <br>
               Lượt xe ngày: ngày thường giảm 15,1%, ngày chủ nhật giảm 9,7% <br>
               (Có phụ lục chi tiết từng tuyến kèm theo)
           </p>

            <p>Thời gian dự kiến  thực hiện: Từ ngày 07/06/2021 đến hết ngày 30/06/2021.</p>
        </article>
        <div class="news-related">
            <h4>Tin tức liên quan</h4>
            <ul>
                <li><a href="">Dự kiến điều chỉnh tạm thời phương án vận hành đối với 118 tuyến buýt trợ giá trong đợt cao điểm phòng chống dịch Covid-19</a></li>
                <li><a href="">Bổ sung và di chuyển hợp lý hóa điểm dừng đỗ đón trả khách xe buýt</a></li>
                <li><a href="">Điều chỉnh thời gian biểu chạy xe tuyến xe buýt số 88. Bến xe Mỹ  Đình – Hòa Lạc – Xuân Mai.</a></li>
            </ul>
        </div>
    </div>
</main>