<main class="flex">
    <div class="col-left">
        <div class="form-direct">
            <h2 class="title">Tìm đường xe buýt</h2>
            <form method="" action="" class="pr">
                <div class="form-group flex focus">
                    <div class="icon icon-point flex-center"><img src="./assets/img/ellipse.svg" alt=""></div>
                    <input class="input-start" type="text" name="" value="" autocomplete="off" placeholder="Nhập điểm đi">
                </div>
                <div class="form-group flex">
                    <div class="icon icon-destination flex-center"><img src="./assets/img/mappin.svg" alt=""></div>
                    <input class="input-end" type="text" name="" value="" autocomplete="off" placeholder="Nhập điểm đến">
                </div>
                <div class="suggest">
                    <div class="item flex">
                        <i class="icon icon-position"></i>
                        <p><span>Vị trí của bạn</span></p>
                    </div>
                    <div class="item flex">
                        <i class="icon icon-location"></i>
                        <p><span>29 Nguyễn Trãi</span> Thanh Xuân, Hà Nội</p>
                    </div>
                    <div class="item flex">
                        <i class="icon icon-location"></i>
                        <p><span>29 Khương Hạ</span> Khương Đình, Thanh Xuân, Hà...</p>
                    </div>
                    <div class="item flex">
                        <i class="icon icon-location"></i>
                        <p><span>29 Liễu Giai</span> Ba Đình, Hà Nội</p>
                    </div>
                    <div class="item flex">
                        <i class="icon icon-location"></i>
                        <p><span>29 Tố Hữu</span> Trung Văn, Nam Từ Liêm, Hà Nội</p>
                    </div>
                </div>
                <button type="button" class="btn_submit flex-center">Tìm kiếm</button>
                <button type="button" class="btn_reverse"></button>
            </form>
        </div>
        <div class="result-direct">
            <div class="item active">
                <div class="header pr">
                    <div class="stt">1</div>
                    <div class="flex-lc summary">
                        <div class="icon-walk"><img src="./assets/img/ic_man2.png" alt=""></div>
                        <div class="arrow"></div>
                        <div class="bus flex">
                            <div class="icon"><img src="./assets/img/bus1.png" alt=""></div>
                            <div class="number">29</div>
                        </div>
                        <div class="arrow"></div>
                        <div class="walk"></div>
                        <div class="bus flex">
                            <div class="icon"><img src="./assets/img/bus1.png" alt=""></div>
                            <div class="number">21B</div>
                        </div>
                        <div class="arrow"></div>
                        <div class="icon-walk"><img src="./assets/img/ic_man2.png" alt=""></div>
                    </div>
                    <div class="flex route">
                        <div class="route__item flex">
                            <div class="icon icon-route"><img src="./assets/img/route.png" alt=""></div>
                            5,6km
                        </div>
                        <div class="route__item flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            10m
                        </div>
                        <div class="route__item flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            2 tuyến
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            <div class="detail">
                                <h4>Di chuyển tới đối diện 123 Hồ Sen</h4>
                                <p>Khoảng 2,3km ~ 15 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 123 Hồ Sen</p>
                        </div>
                    </div>
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            <div class="detail">
                                <h4>Đi xe buýt tuyến 29</h4>
                                <p>Khoảng 2,3km ~ 15 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 12 Trần Nguyễn Hãn</p>
                        </div>
                    </div>
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            <div class="detail">
                                <h4>Đi xe buýt tuyến 21B</h4>
                                <p>Khoảng 3,3km ~ 20 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 19 Tôn Đức Thắng</p>
                        </div>
                    </div>
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            <div class="detail">
                                <h4>Di chuyển tới Tôn Đức Thắng</h4>
                                <p>Khoảng 5m ~ 2 phút</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header pr">
                    <div class="stt">2</div>
                    <div class="flex-lc summary">
                        <div class="icon-walk"><img src="./assets/img/ic_man2.png" alt=""></div>
                        <div class="arrow"></div>
                        <div class="bus flex">
                            <div class="icon"><img src="./assets/img/bus1.png" alt=""></div>
                            <div class="number">20</div>
                        </div>
                        <div class="arrow"></div>
                        <div class="bus flex">
                            <div class="icon"><img src="./assets/img/bus1.png" alt=""></div>
                            <div class="number">3B</div>
                        </div>
                        <div class="arrow"></div>
                        <div class="icon-walk"><img src="./assets/img/ic_man2.png" alt=""></div>
                    </div>
                    <div class="flex route">
                        <div class="route__item flex">
                            <div class="icon icon-route"><img src="./assets/img/route.png" alt=""></div>
                            5,6km
                        </div>
                        <div class="route__item flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            10m
                        </div>
                        <div class="route__item flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            2 tuyến
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            <div class="detail">
                                <h4>Di chuyển tới đối diện 123 Hồ Sen</h4>
                                <p>Khoảng 2,3km ~ 15 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 123 Hồ Sen</p>
                        </div>
                    </div>
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            <div class="detail">
                                <h4>Đi xe buýt tuyến 29</h4>
                                <p>Khoảng 2,3km ~ 15 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 12 Trần Nguyễn Hãn</p>
                        </div>
                    </div>
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            <div class="detail">
                                <h4>Đi xe buýt tuyến 21B</h4>
                                <p>Khoảng 3,3km ~ 20 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 19 Tôn Đức Thắng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header pr">
                    <div class="stt">3</div>
                    <div class="flex-lc summary">
                        <div class="icon-walk"><img src="./assets/img/ic_man2.png" alt=""></div>
                        <div class="arrow"></div>
                        <div class="bus flex">
                            <div class="icon"><img src="./assets/img/bus1.png" alt=""></div>
                            <div class="number">107</div>
                        </div>
                        <div class="arrow"></div>
                        <div class="icon-walk"><img src="./assets/img/ic_man2.png" alt=""></div>
                    </div>
                    <div class="flex route">
                        <div class="route__item flex">
                            <div class="icon icon-route"><img src="./assets/img/route.png" alt=""></div>
                            5,6km
                        </div>
                        <div class="route__item flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            10m
                        </div>
                        <div class="route__item flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            2 tuyến
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-man"><img src="./assets/img/ic_man1.png" alt=""></div>
                            <div class="detail">
                                <h4>Di chuyển tới đối diện 123 Hồ Sen</h4>
                                <p>Khoảng 2,3km ~ 15 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 123 Hồ Sen</p>
                        </div>
                    </div>
                    <div class="guide">
                        <div class="guide__detail flex">
                            <div class="icon icon-bus"><img src="./assets/img/bus2.png" alt=""></div>
                            <div class="detail">
                                <h4>Đi xe buýt tuyến 29</h4>
                                <p>Khoảng 2,3km ~ 15 phút</p>
                            </div>
                        </div>
                        <div class="guide__station flex">
                            <i class="icon icon-station"></i>
                            <p>Điểm dừng 12 Trần Nguyễn Hãn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search flex">
            <h2 class="title">Tìm kiếm chung</h2>
            <div class="search__list flex">
                <button type="button">
                    <img src="./assets/img/bus.png" alt="">
                    <span>Điểm dừng xe</span>
                </button>
                <button type="button">
                    <img src="./assets/img/ticket.png" alt="">
                    <span>Điểm bán vé</span>
                </button>
                <button type="button">
                    <img src="./assets/img/parking.png" alt="">
                    <span>Điểm giữ xe</span>
                </button>
                <button type="button">
                    <img src="./assets/img/service.png" alt="">
                    <span>Điểm dịch vụ</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59658.01214462028!2d106.6637270118076!3d20.846813504306464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7af39e3f1ad3%3A0xa5ffc85ff87a07e8!2zSOG6o2kgUGjDsm5nLCBWaWV0bmFt!5e0!3m2!1sfr!2s!4v1628175213768!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <button type="button" class="btn_close_colleft flex-center"><i class="icon"></i></button>
</main>