<main>
    <div class="intro">
        <div class="container">
            <h1 class="title">Giới thiệu</h1>
            <article>
                <img src="./assets/img/img-it.jpg" alt="">
                <h4>1. THÔNG TIN CHUNG</h4>
                <p>
                    <span>Tên doanh nghiệp: Công ty trách nhiệm hữu hạn vận tải Thịnh Hưng </span>
                    <span>Địa chỉ: Số 91, đường Lãm Hà, phường Quán Trữ, quận Kiến An, thành phố Hải Phòng</span>
                    <span>Giám đốc: Hà Duy Hưng</span>
                    <span>Điện thoại: 0913.310.976</span>
                    <span>Fax: 02253.778.923</span>
                </p>
                <h4>2. Đôi nét chính về doanh nghiệp</h4>
                <p>Nhiệm vụ chính của Công ty hiện nay là hoạt động vận tải hành khách công cộng bằng xe buýt, là doanh nghiệp ngoài nhà nước đầu tiên trên địa bàn thành phố Hải Phòng thực hiện việc xã hội hóa hoạt động xe buýt trên tuyến đường Đà Nẵng – Khu II Đồ Sơn từ năm 2005, sau đó Doanh nghiệp phát triển thêm 07 tuyến xe buýt khác trên địa thành phố Hải Phòng và thành phố Uông Bí(Quảng Ninh).Tuy nhiên, cùng với những nguyên nhân chung ảnh hưởng đến hoạt động xe buýt tại Hải Phòng, từ 2018 đến năm 2020, Doanh nghiệp đã phải xin phép tạm dừng hoạt động trên 05 tuyến. Năm 2020, được thành phố đặt hàng tuyến số 16C và tuyến số 18;</p>
                <p>Hiện nay Doanh nghiệp đang tổ chức hoạt động 03 tuyền xe buýt gồm: Tuyến 03: Đường Đà Nẵng – Khu II Đồ Sơn; tuyến 16C: Bến xe Thượng Lý - Bến phà Gót, Cát Hải; Ngã 5 Sân bay Cát Bi – Vĩnh Bảo.</p>
                <p>Là một Doanh nghiệp vận tải hành khách, chúng tôi cũng phải chịu sự tác động chung các khó khăn của nghề vận tải hành khách, cũng có thời kỳ với 08 tuyến xe buýt; Hợp đồng vận tải toàn bộ khách hàng cho Siêu thị BigC Hải Phòng, Siêu thị BigC Hải Dương; vận tải khách đường dài trên 07 tuyến cố định với tổng số trên 100 đầu phương tiện; cũng có khi chúng tôi chỉ còn 02 tuyến xe buýt; 03 tuyến cố định với trên 30 đầu phương tiện. Tuy nhiên, Lãnh đạo của Công ty luôn luôn tin tưởng vào định hướng phát triển xe buýt của thành phố Hải Phòng theo Nghị quyết số 04/2012/NQ-HĐND của Hội đồng nhân dân thành phố ngày 20/07/2012, Khóa XIV Kỳ họp thứ 4 của Hội đồng nhân dân thành phố, duy trì hoạt động xe buýt của công ty, đảm bảo đời sống cho cán bộ công nhân viên, đảm bảo sự an toàn cho người và phương tiện liên quan đền hoạt động của Công ty.</p>
            </article>
        </div>
    </div>
</main>