<main>
    <div class="news container">
        <div class="header">
            <h1 class="title title--cat">Tin tức</h1>
            <p>Những thông tin, sự kiện nổi bật được cập nhật nhanh chóng và đầy đủ nhất về các phương tiện, hành trình di chuyển tại thành phố Hải Phòng</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                    <h3><a href="">Dự kiến điều chỉnh tạm thời phương án vận hành đối với 118 tuyến buýt trợ giá trong đợt cao điểm phòng chống dịch Covid-19</a></h3>
                    <time>Đăng ngày: 01/01/2021</time>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="post__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <h3><a href="">Thông báo bổ sung và di chuyển hợp lý hóa điểm dừng đỗ đón trả khách xe buýt</a></h3>
                    <time>Đăng ngày: 01/01/2021</time>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="post__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                    <h3><a href="">Điều chỉnh thời gian biểu chạy xe tuyến xe buýt số 88. Bến xe Mỹ  Đình – Hòa Lạc – Xuân Mai.</a></h3>
                    <time>Đăng ngày: 01/01/2021</time>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="post__thumb"><img src="./assets/img/thumb.jpg" alt=""></a>
                    <h3><a href="">Dự kiến điều chỉnh tạm thời phương án vận hành đối với 118 tuyến buýt trợ giá trong đợt cao điểm phòng chống dịch Covid-19</a></h3>
                    <time>Đăng ngày: 01/01/2021</time>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="post__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <h3><a href="">Thông báo bổ sung và di chuyển hợp lý hóa điểm dừng đỗ đón trả khách xe buýt</a></h3>
                    <time>Đăng ngày: 01/01/2021</time>
                </article>
            </div>
            <div class="col-lg-4 col-md-4">
                <article class="post">
                    <a href="" class="post__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                    <h3><a href="">Điều chỉnh thời gian biểu chạy xe tuyến xe buýt số 88. Bến xe Mỹ  Đình – Hòa Lạc – Xuân Mai.</a></h3>
                    <time>Đăng ngày: 01/01/2021</time>
                </article>
            </div>
        </div>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="icon icon-prev"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="icon icon-next"></i>
                </a>
            </li>
        </ul>
    </div>
</main>