<main>
    <div class="route">
        <div class="route__search">
            <form action="" method="" class="flex">
                <div class="form-group">
                    <label>Đơn vị vận tải</label>
                    <select name="" class="select2">
                        <option value="">Đơn vị vận tải</option>
                        <option value="">Công ty Đường bộ Hải Phòng</option>
                        <option value="">Công ty TNHH Thịnh Hưng</option>
                        <option value="">Công ty Cổ Phần thuơng mại dịch vụ Tân Việt mở tuyến xe buýt </option>
                        <option value="">Xe buýt Quảng Đông</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tuyến</label>
                    <select  name="" class="select2">
                        <option>Số hiệu tuyến, tên tuyến</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Lộ trình</label>
                    <select  name="" class="select2">
                        <option>Đường trên lộ trình</option>
                    </select>
                </div>
                <button type="submit" class="btn_submit flex-center">Tìm kiếm</button>
            </form>
        </div>
        <div class="route__list">
            <div class="item">
                <div class="header">
                    <div class="stt">01</div>
                    <p>Tuyến 01: Bến Cầu Rào – Dụ Nghĩa</p>
                </div>
                <div class="detail container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Đơn vị:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>Công ty Đường bộ Hải Phòng</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Giá vé:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>7.000đ/chuyến</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Thời gian hoạt động:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>5h30 – 19h00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Giãn cách chạy xe:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>15 phút/chuyến</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Lộ trình chiều đi:</h5>
                        </div>
                        <div class="col-md-10">
                            <p>Cầu Rào – Lạch Tray – Đường Tô Hiệu – Đường Tôn Đức Thắng – Đuờng 5 mới – Khu công nghiệp NOMURA – Ga Dụ Nghĩa</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Lộ trình chiều về:</h5>
                        </div>
                        <div class="col-md-10">
                            <p>Cầu Rào – Lạch Tray – Đường Tô Hiệu – Đường Tôn Đức Thắng – Đuờng 5 mới – Khu công nghiệp NOMURA – Ga Dụ Nghĩa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="header">
                    <div class="stt">02</div>
                    <p>Tuyến 02: Bến Bính – Kiến An – Chợ Kênh</p>
                </div>
                <div class="detail container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Đơn vị:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>Công ty Đường bộ Hải Phòng</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Giá vé:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>7.000đ/chuyến</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Thời gian hoạt động:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>5h30 – 19h00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Giãn cách chạy xe:</h5>
                                </div>
                                <div class="col-md-8">
                                    <p>15 phút/chuyến</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Lộ trình chiều đi:</h5>
                        </div>
                        <div class="col-md-10">
                            <p>Bến Bính – Bưu Điện Thành phố Hải Phòng – Tam Hoàn – Vuờn Hoa Lê Chân – Ngã ba Cát Cụt – Đường Nguyễn Đức Cảnh – Đập Tam Kỳ – Ngã tư An Duơng – Bến Niệm Nghĩa – Ngã ba Quán Trữ – Trần Nhân Tông – Ngã năm Kiến An – Ngã tư Cống Đôi – Cống Truờng Sơn (An Lão) – Ngã ba An Tràng – Ngã ba Lương Khánh Thiện – Doanh Trại Quân Đội Xuân Sơn – TT.An Lão – Cống Quốc Tuấn – Ngã tư Quang Thanh – Chợ Kênh – Ngã ba giao đuờng vào phà Tiên Cựu cũ</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Lộ trình chiều về:</h5>
                        </div>
                        <div class="col-md-10">
                            <p>Bến Bính – Bưu Điện Thành phố Hải Phòng – Tam Hoàn – Vuờn Hoa Lê Chân – Ngã ba Cát Cụt – Đường Nguyễn Đức Cảnh – Đập Tam Kỳ – Ngã tư An Duơng – Bến Niệm Nghĩa – Ngã ba Quán Trữ – Trần Nhân Tông – Ngã năm Kiến An – Ngã tư Cống Đôi – Cống Truờng Sơn (An Lão) – Ngã ba An Tràng – Ngã ba Lương Khánh Thiện – Doanh Trại Quân Đội Xuân Sơn – TT.An Lão – Cống Quốc Tuấn – Ngã tư Quang Thanh – Chợ Kênh – Ngã ba giao đuờng vào phà Tiên Cựu cũ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>