body{
  width: 100%;
  height: 100vh;
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .26s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(1.6); filter: saturate(1.6);}
//header
header{
  h1{display: inline-block;}
}
.navbar-toggler{display: none;}
.navbar{
  width: 100%; height: 64px;
  padding: 0 12px 0 40px;
  border-bottom: 1px solid #E4E7EB;
  background: #fff;
}
.navbar-nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  li{margin: 0 18px;}
  a{display: block; padding: 5px 0; font-size: 15px; font-weight: 500;  color: #8498B0; position: relative;}
  a:hover,.active{color: #25396F;}
  .active{border-bottom: 2px solid #25396F;}
}
.navbar-collapse{flex-basis: auto;}
//main
main{
  height: calc(100vh - 64px); width: 100%; overflow: hidden;
  .col-left{
    width: 428px; height: 100%; overflow: auto; border-right: 1px solid #E4E7EB;
    &::-webkit-scrollbar{width: 3px;}
    &::-webkit-scrollbar-track{background: #ccc;}
    &::-webkit-scrollbar-thumb{background: #888;}
  }
  .col-right{
    width: calc(100% - 428px);
    iframe{width: 100%; height: 100%;}
  }
  .search{
    padding: 17px 24px;
    &__list{
      width: 100%; justify-content: space-between;
      button{background: none; text-align: center;}
      img{width: 30px; display: block; margin: 0 auto; margin-bottom: 6px;}
      span{
        font-weight: 500;
        font-size: 12px;
        color: #4F618D;
      }
    }
  }
  .btn_close_colleft{display: none;}
}
.form-direct{
  padding: 24px 24px 32px;
  border-bottom: 1px solid #E4E7EB;
  .form-group{
    margin-bottom: 28px; position: relative;
    &::after{
      content: "";
      width: 40px; height: 30px;
      background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
      position: absolute; right: 30px; top: 0;
    }
  }
  .icon{
    width: 30px; height: 30px; margin-right: 8px; border-radius: 50%; background: #EEF2FF; position: relative;
  }
  .icon-destination{
    &::after{
      content: "";
      width: 4px; height: 20px;
      background: url("#{$img-path}/icon-ds.png") no-repeat 0 0/contain;
      position: absolute; top: -24px;
    }
  }
  input{width: 300px; font-weight: 500; font-size: 15px; color: #8498B0; border: none; border-bottom: 1px dashed rgba(151, 165, 183, 0.5);}
  input::placeholder{color: rgba(#8498B0,.5);}
  input:focus{outline: none;}
  .btn_submit{
    width: 102px; height: 36px;
    margin: 30px 0 0 38px;
    background: #E4E7EB;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    &.active{background: #4F74F6;}
  }
  .btn_reverse{
    width: 18.5px; height: 22px;
    background: url("#{$img-path}/reveres.png") no-repeat 0 0/contain;
    position: absolute; right: 0; top: 47px;
  }
}
.result-direct{
  padding: 28px 24px;
  display: none;
  &.show{display: block;}
  .item{
    margin-bottom: 14px; background: #F9F9F9; border-radius: 0px 0px 12px 12px;
    &.active{
      .content{display: block;}
      .route{display: flex;}
      .header::after{transform: rotate(0);}
    }
  }
  .header{
    padding: 12px 30px 10px 45px; background: #EFF8FF; border-radius: 6px; position: relative; cursor: pointer;
    &::after{
      content: "";
      width: 12px; height: 7.5px;
      background: url("#{$img-path}/arrow-t.png") no-repeat 0 0/contain;
      position: absolute; top: 16px; right: 12px;
      transform: rotate(180deg);
    }
    .icon-walk{width: 8px;}
    .arrow{
      width: 10px; height: 10px;
      display: block; margin: 0 10px;
      background: url("#{$img-path}/arrow.png") no-repeat 0 0/contain;
    }
    .bus{
      .icon{width: 15px;}
      .number{
        margin-left: 6.5px;
        padding: 0 5px;
        background: #FFFFFF;
        border: 1px solid #E4E7EB;
        border-radius: 2px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #25396F;
      }
    }
    .summary > div{margin-bottom: 5px;}
  }
  .content{display: none;}
  .route{
    display: none;
    margin-top: 5px;
    &__item{
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #8498B0;
    }
    >*+*{padding-left: 20px; margin-left: 20px; border-left: 1px solid #8498B0;}
    .icon{margin-right: 6px;}
    .icon-route{width: 10px;}
    .icon-man{width: 5.5px;}
    .icon-bus{width: 10px;}
  }
  .guide{
    padding: 0 12px 12px;
    &__detail{
      padding: 8px 0 20px;
      .detail{width: calc(100% - 35px); padding-left: 12px; border-left: 1px solid #E4E7EB;}
      h4{
        margin-bottom: 4px;
        color: #25396F;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      p{
        font-size: 12px;
        line-height: 15px;
        color: #8498B0;
      }
      .icon{width: 35px; padding: 4px 0 0 8px;}
      .icon-man img{width: 7.5px;}
      .icon-bus img{width: 15px;}
    }
    &__station{
      padding: 8px 10.75px;
      background: rgba(#E4E7EB,.5);
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #25396F;
      .icon-station{
        width: 12px; height: 16px;
        margin-right: 10px;
        background: url("#{$img-path}/ic_bus-stop.png") no-repeat 0 0/contain;
      }
      p{flex: 1;}
    }
  }
  .stt{
    width: 23px; height: 24px;
    padding-right: 4px;
    background: url("#{$img-path}/stt.png") no-repeat 0 0/contain;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-align: center; line-height: 26px;
    position: absolute; left: 12px; top: -4px;
  }
}
.suggest{
  display: none;
  max-width: 100%;
  padding: 8px 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(53, 85, 135, 0.12);
  border-radius: 8px;
  position: absolute; top: 117px; z-index: 2;
  .item{padding: 10px 25px; cursor: pointer;}
  .item:hover{background: #f0f0f0;}
  .icon{display: block; margin-right: 20px;}
  .icon-position{width: 16px; height: 16px; background: url("#{$img-path}/position.png") no-repeat 0 0/contain;}
  .icon-location{width: 13.5px; height: 16.5px; background: url("#{$img-path}/location.png") no-repeat 0 0/contain;}
  span{margin-right: 2px; color: #25396F; font-weight: 500; font-size: 14px;}
  p{font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex: 1;}
}

//search
.search_list{
  li{display: flex; padding: 0 24px; margin-bottom: 32px;}
  .icon{
    width: 24px; height: 24px;
    margin-right: 12px;
    padding: 3.43px 4.3px;
    background: #EFF8FF;
    border-radius: 2px;
  }
  .content{width: calc(100% - 36px); padding-left: 12px; border-left: 1px solid #E4E7EB;}
  h4{
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #25396F;
  }
  p{
    font-size: 12px;
    line-height: 15px;
    color: #8498B0;
  }
}

//news
.news{
  max-width: 1011px;
  padding: 0;
  overflow: hidden;
  .header{
    max-width: 665px;
    margin: 32px auto 0;
    text-align: center;
    .title{margin-bottom: 11px; font-size: 36px; line-height: 44px; font-weight: 700;}
    p{font-weight: 500; font-size: 16px; line-height: 22px; color: #4F618D;}
  }
  .post{
    padding: 36px 0;
    &__thumb{
      display: block;
      img{display: block; margin: 0 auto;}
    }
    h3{
      margin-bottom: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
      a{color: #25396F;}
    }
    time{
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #8498B0;
    }
  }
  .col-lg-4{border-bottom: 1px solid #E4E7EB;}
}
.pagedetail{
  max-width: 695px; margin: 0 auto; padding: 25px 15px;
  .post-title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #25396F;
  }
  .des{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E4E7EB;
    font-size: 16px; line-height: 23px; color: #25396F;
  }
  time{
    display: block;
    margin-bottom: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8498B0;
  }
  article{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #25396F;
  }
  .news-related{
    margin-top: 50px;
    ul >*+*{border-top: 1px solid #E4E7EB;}
    h4{
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #4F74F6;
    }
    li{display: flex; flex-wrap: wrap; padding: 16px 0; list-style: none;}
    li::before{
      content: "";
      margin: 7px 12px 0 0;
      background: #4F74F6;
      width: 6px; height: 6px;
      border-radius: 50%;
    }
    a{
      flex: 1;
      font-weight: 600;
      font-size: 15px;
      line-height: 21px;
      color: #25396F;
    }
  }
}
.category{
  main{height: auto;}
}
.pagination{
  margin: 36px 0;
  display: flex;
  justify-content: center;
  li{margin: 0 5.5px;}
  .page-link{
    width: 36px; height: 36px;
    display: flex; align-items: center; justify-content: center;
    padding: 0;
    border: 1.10697px solid #E4E7EB;
    border-radius: 4.42789px;
    font-weight: 500;
    font-size: 15.4976px;
    color: #4F618D;
  }
  .active .page-link{background: #fff; color: #4F74F6; border: 1px solid #4F74F6;}
  .icon{width: 10px; height: 14px; background: url("#{$img-path}/next.png") no-repeat 0 0/contain;}
  .icon-prev{transform: rotate(180deg);}
}

//route
.route{
  &__search{
    padding: 10px 0;
    background: #EFF8FF;
    form{
      justify-content: center;
      >*+*{margin-left: 44px;}
    }
    label{
      display: block;
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #4F618D;
    }
    .form-group{width: 100%; margin-bottom: 0; max-width: 304px; padding: 6px 0;}
    .btn_submit{
      width: 102px; height: 36px;
      margin-top: 26px;
      background: #4F74F6;
      border-radius: 6px;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      transition: .25s;
      &:hover{background: #1439be;}
    }
  }
  &__list{
    padding: 40px;
    .header{
      display: inline-block;
      min-height: 40px;
      padding: 9px 70px;
      background: #EFF8FF;
      border-radius: 6px 0 0 0;
      box-shadow: 2px 0px 0px #E4E7EB;
      position: relative;
      &::after{
        content: "";
        width: 38px; height: 40px;
        background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
        position: absolute;  right: -38px; top: 0;
      }
      p{
        font-weight: 600;
        font-size: 16px;
        color: #4F74F6;
      }
    }
    .item{margin-bottom: 24px;}
    .stt{
      width: 37px; height: 39px;
      display: flex; justify-content: center; align-items: flex-end;
      padding: 0 4px 3px 0;
      background: url("#{$img-path}/stt1.png") no-repeat 0 0/contain;
      font-weight: 600;
      font-size: 18px;
      color: #EFF8FF;
      text-align: center;
      position: absolute; left: 23px; top: -6px;
    }
  }
  .detail{
    border: 1px solid #E4E7EB;
    border-radius: 0px 8px 8px 8px;
    color: #25396F;
    >*+*{border-top: 1px solid #E4E7EB;}
    .row > *+*{border-left: 1px solid #E4E7EB;}
    .row .row{height: 100%;}
    h5,p{padding: 16px 8px;}
    h5{
      margin-bottom: 0;
      font-weight: 600;
      font-size: 15px;
      line-height: 21px;
    }
    p{font-size: 15px; line-height: 21px;}
  }
}

//contact
.contact{
  max-width: 1012px; margin: 0 auto 50px;
  .header{
    max-width: 665px; margin: 32px auto 40px; text-align: center;
    .title{margin-bottom: 10px; font-size: 36px;line-height: 44px;}
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #4F618D;
    }
  }
  &__info{
    padding: 32px;
    background: #4F618D;
    border-radius: 6px 0 0 6px;
    max-width: 347px;
    h4{margin-bottom: 50px; font-weight: 600; font-size: 23px; line-height: 32px; color: #fff;}
    ul >*+*{margin-top: 21px;}
    li{display: flex; align-items: center;}
    .icon{width: 40px; height: 40px; display: flex; border-radius: 50%; margin-right: 15px; background: rgba(#fff,.1);}
    p{
      width: calc(100% - 55px);
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #EFF8FF;
    }
    a{color: #EFF8FF;}
    .social{
      margin-top: 50px;
      padding-top: 30px;
      border-top: 1px solid rgba(#E4E7EB,.1);
      a{display: block; margin-right: 24px; font-size: 0;}
      .facebook{width: 26px; height: 26px; background: url("#{$img-path}/face.png") no-repeat 0 0/contain;}
      .twitter{width: 27px; height: 23px; background: url("#{$img-path}/twitter.png") no-repeat 0 0/contain;}
    }
  }
  &__form{
    width: calc(100% - 347px);
    background: #EFF8FF;
    padding: 32px;
    border-radius: 0 6px 6px 0;
    .form-row{
      margin: 0 0 59px; width: 100%;
      >*+*{margin-left: 30px;}
      .form-group{width: calc(50% - 15px); margin-bottom: 0;}
    }
    label{
      display: flex;
      align-items: center;
      margin-bottom: 0;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #8498B0;
      text-transform: uppercase;
    }
    input,textarea{
      width: 100%;
      background: none;
      height: 41px;
      border: none;
      border-bottom: 1px dashed rgba(151, 165, 183, 0.5);
      font-size: 15px;
      line-height: 21px;
      color: #25396F;
      &:focus{outline: none;}
    }
    textarea{height: 72px; padding-top: 5px;}
    sup{display: block; margin: 15px 0 0 3px; color: #c00; font-size: 14px;}
    .box-btn{
      margin-top: 59px;
      justify-content: flex-end;
      >*+*{margin-left: 24px;}
      button{
        width: 136px; height: 48px;
        border-radius: 6.66667px;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
      }
      .btn_reset{background: #8498B0;}
      .btn_submit{background: #4F74F6;}
    }
  }
}

//intro
.intro{
  padding: 32px 0;
  h1{margin-bottom: 32px; text-transform: none; text-align: center; color: #25396F; font-size: 36px; line-height: 44px; font-weight: 700;}
  article{
    max-width: 662px; margin: 0 auto; color: #4F618D; font-size: 16px; line-height: 24px; font-weight: 500;
    img{display: block; margin: 0 auto;}
    h4{font-weight: 700; text-transform: uppercase; font-size: 16px;}
    span{display: block; position: relative; padding-left: 25px; line-height: 24px;}
    span::before{
      content: "";
      width: 5px; height: 5px;
      background: #4F618D;
      border-radius: 50%;
      position: absolute; left: 8px; top: 9px;
    }
  }
}

//custom select2.min.js
.select2-container{
  width: 100% !important; max-width: 304px; border: none; background: #fff; border-radius: 8px;
  &:focus{outline: none;}
}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 20px;
  color: rgba(#8498B0,.5);
  font-weight: 500;
  font-size: 15px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 4px;}
.select2-container .select2-selection--single{height: 42px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; border-radius: 8px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 42px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 42px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  margin-top: 4px;
  border: 1px solid #E4E7EB; box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.1); border-radius: 8px;
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 8px 12px; background: #fff; border-radius: 8px; overflow: hidden;
  >*+*{border-top: 1px solid rgba(#4F618D,.2);}
}
.select2-results__option{
  padding: 10px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4F618D;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: none; color: #4F618D;}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}

//uikit
.pr{position: relative;}
.title{
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  color: #25396F;
  text-transform: uppercase;
}
.title--pr{
  margin-bottom: 24px;
  align-items: center;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: inset 0px -1px 0px #E4E7EB;
  &::before{
    content: "";
    width: 22px; height: 18px; display: block;
    margin-right: 25px;
    background: url("#{$img-path}/arr-left.png") no-repeat 0 0/contain;
  }
}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}
.modal-navbar{
  width: 100%; height: 100%;
  background: rgba(#000,.5);
  position: fixed; top: 0; z-index: 2;
  opacity: 0; left: -9999px; transition: opacity .3s  ease;
  &.show{left: 0; opacity: 1;}
}


@media (max-width: 1440px){
  main{
    .col-left{width: 390px;}
    .col-right{
      width: calc(100% - 390px);
    }
    .search{
      &__list span{font-size: 11px;}
    }
  }
  .form-direct{
    input{width: 270px;}
  }
  .route{
    &__search{
      form > *+*{margin: 0 10px;}
      .form-group{max-width: 260px;}
    }
  }
}

@media (max-width: 1023px){
  header{
    .navbar{height: 48px;}
    .logo{width: 233px;}
  }
  .navbar-toggler{display: none;}
  .navbar{width: 100%; padding: 0 15px; justify-content: flex-start;}
  .navbar-collapse{
    position: fixed; top: 48px; left: -100%;
    width: 100%; height: 100%;
    padding: 0;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggler{
    display: block;
    width: 19.5px;
    height: 15px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 16px;
    span{
      display: block; width: 19.5px; height: 3px; border-radius: 9999px;
      background: #4F618D; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 19.5px; height: 3px; background: #4F618D; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggler.active{
    span{width: 20px; transform: rotate(45deg);}
    span:after{width: 33px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    flex-direction: column;
    padding: 30px 0;
    li{margin: 10px 0;}
    >*+*{margin: 22px 0 0;}
    a{text-align: center; font-size: 16px;}
  }

  main{
    height: calc(100vh - 48px);
    .col-left{
      width: 100%; max-width: 360px;
      background: #fff;
      position: fixed; top: 48px; left: -100%;
      height: calc(100vh - 48px);
      transition: .3s;
      &.active{left: 0;}
    }
    .col-right{width: 100%;}
    .btn_close_colleft{
      display: flex;
      padding: 0;
      width: 32px; height: 32px;
      background: #FFFFFF;
      border: 1px solid rgba(228, 231, 235, 0.4);
      border-radius: 4px;
      position: fixed; top: 64px; left: 0;
      transition: .2s;
      .icon{width: 24px; height: 24px; background: url("#{$img-path}/CaretDoubleLeft.png") no-repeat 0 0/contain; transform: rotate(180deg);}
      &.active{
        left: 335px;
        .icon{transform: rotate(0);}
      }
    }
    .search{
      padding: 18px;
      .title{margin-bottom: 25px; font-weight: 500; font-size: 16px;}
      &__list{
        button{margin-bottom: 30px;}
        img{width: 32px;}
        span{font-size: 12px;}
      }
    }
  }
  .form-direct{
    padding: 24px 18px 32px;
    input{width: 248px;}
  }
  .result-direct{
    padding: 24px 18px;
    .header{
      padding: 12px 25px 10px 35px;
      &::after{right: 8px;}
      .arrow{margin: 0 8px;}
    }
    .stt{left: 6px;}
    .route{
      >*+*{padding-left: 10px; margin-left: 10px;}
    }
  }
  .suggest{top: 110px;}
  .news{padding: 0 15px;}

  //uikit
  .title{font-size: 20px; font-weight: 800;}
}

@media (max-width: 767px){
  .contact{
    padding: 0 15px;
    &__info,&__form{width: 100%; margin-bottom: 30px; border-radius: 6px; padding: 15px;}
    &__form{
      .form-row{
        margin: 0 0 30px;
        >*+*{margin-left: 20px;}
        .form-group{width: calc(50% - 10px);}
      }
      .box-btn{margin-top: 30px;}
    }
    &__info{
      h4{margin-bottom: 30px;}
    }
  }
  .pagedetail{
    .post-title{font-size: 24px; line-height: 32px;}
  }
  .news,.contact{
    .header{
      .title{font-size: 28px; line-height: 34px;}
      p{font-size: 14px; line-height: 20px;}
    }
  }
  .route{
    &__list{
      padding: 15px;
      .header{
        padding: 9px 10px 9px 45px;
        box-shadow: inherit;
        border-radius: 6px 6px 0 0;
        &::after{display: none;}
        p{font-size: 14px;}
      }
      .stt{width: 30px; height: 32px; top: -4px; left: 10px; font-size: 16px;}
    }
    .detail{
      border-radius: 0px 0px 8px 8px;
      h5,p{padding: 10px 5px;}
      .row > * + *{border-left: none;}
    }
  }
}

@media (max-width: 360px){
  main{
    .col-left{max-width: 310px;}
    .btn_close_colleft.active{left: 285px;}
  }
  .form-direct{
    input{width: 210px;}
  }
  .contact{
    &__form{
      .box-btn{
        button{width: 120px; font-size: 15px;}
        >*+*{margin-left: 15px;}
      }
    }
  }
}